<movie-detail [movie]="selectedMovie" *ngIf = "showMovies"></movie-detail>
<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <ul class="list-group list-group-flush">
        <li *ngFor="let movie of movies" (click)="onSelect(movie)" class="list-group-item"
        [class.active]="movie===selectedMovie"
        
        >
            <span class="badge badge-primary" style="background-color: rgb(18, 84, 239); color: white;">
                {{movie.id}}
            </span>
                {{movie.name }}
            <span class="close">x</span>
        </li>
    </ul>
</div>


