<div class="card my-2" *ngFor="let movie of movies">

    <div class="row">
        <div class="col-3">
            <img src="{{ movie.imageUrl }}" class="card-img" alt="{{movie.name}}">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">
                    <a routerLink="/detail/{{ movie.id }}">{{movie.name}}</a>

                </h5>
                <p class="card-text">
                    {{movie.description}}
                </p>
            </div>
        </div>
    </div>

</div>

<div *ngIf="movieLenght > 5" class="text-center my-2"><!-- fil sayısı 5 ten yüksekse aktif et-->
    <a routerLink="/movies" class="btn btn-primary">More Movies</a>
</div>